<div class="col-md-6 col-md-offset-3">
  <h2>Home -             Welcome to SnowBoy's Pet Shop</h2> Logged in as: {{username}}
  <p *ngIf="errormessage; else elseBlock" class="alert alert-danger">{{errormessage}}</p>
  <ng-template #elseBlock>

    <div>

      <ul>
        <li *ngFor="let pet of pets">{{pet.petId}}:  {{pet.name}} the {{pet.type.name}} is {{pet.colour}}, and is owned by {{pet.petOwner?.name}}</li>  <!-- ? means null check -->
      </ul>
    </div>
  </ng-template>
  <p><a [routerLink]="['/login']">Logout</a></p>
</div>
